body {
    background-color: #01043A;
    background-image: url('https://source.unsplash.com/random/1920x1080/?blue');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Slider Container */
.slider-container {
    width: 150%;
    max-width: 600px;
    height: 600px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

/* Image Slider */
.image-slider {
    display: flex;
    flex-direction: column;
    animation: verticalScroll 50s linear infinite;
    margin-bottom: 10px;
}

.image-slider img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

/* Infinite Scrolling Animation */
@keyframes verticalScroll {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

/* Duplicate Images for Smooth Loop */
.image-slider::after {
    content: "";
    display: block;
    height: 100%;
    background: url('img/cert.png') no-repeat center center / cover;
}