.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding-top: 20px;
    background-color: #01043a;
    transition: width 0.3s;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;    
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
}

.sidebar .description {
    font-size: 16px;
}

.sidebar .sub-menu:first-of-type {
    background-color: #282A50;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 5px;
    padding: 5px 0;
}

.sidebar .sub-menu:last-of-type {
    background-color: #282A50;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px 0;
}
    
.sidebar .sub-menu a {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
}

.sidebar .sub-menu .icon {
    font-size: 20px;
}

.main-content {
    height: 100%;
    margin-left: 275px;
    padding: 20px;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed .description {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.main-content {
    margin-left: 60px;
}

#sidebarToggle {
    position: absolute;
    top: 20px;
    right: 11px;
    z-index: 999;
    background-color: #01043a;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .sidebar {
        width: 250px;
    }

    .main-content {
        margin-left: 250px;
    }

    #sidebarToggle {
        display: block;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }
}
